.scroll-buttons {
    display: flex;
    justify-content: center;
}
.scroll-button {
    background-color: lightgrey;
    border-color: darkgrey;
    padding: 3px;
    width: 40px;
}
.scroll-button button:disabled {
    color:rgb(158, 158, 158);
}